# Credentials for Jira Cloud user
JIRA_USER_EMAIL=
JIRA_API_TOKEN=
JIRA_SERVER_URL=
JIRA_PROJECT_KEY=

# The email address of a valid user associated with the account making the
# request.
PAGERDUTY_USER_EMAIL=

# Credentials for PagerDuty user
PAGERDUTY_API_TOKEN=

# PagerDuty doesn't trigger webhook on changing incidents' priority
# Then for tracking possible changes Px -> P1 on incident we need to poll
# the repository. This variable keep interval for polling
# 1 minute/ 10 minutes / 1 hour / ... are allowed values
PAGERDUTY_CRON_INTERVAL=1 hour

# The number of last days, which will be take into account for tracking non-P1
# incidents. 0 means from today's midnight
PAGERDUTY_CRON_SYNC_DAYS=7
