[flake8]
# D100 Missing docstring in public module
# D101 Missing docstring in public class
# D102 Missing docstring in public method
# D103 Missing docstring in public function
# D104 Missing docstring in public package
# D105 Missing docstring in magic method
# D106 Missing docstring in public nested class
# D107 Missing docstring in __init__
# D203 1 blank line required before class docstring
# D400 First line should end with a period
# D401 First line should be in imperative mood; try rephrasing
# H238 old style class declaration, use new style (inherit from `object`)
# W503 line break before binary operator
ignore = D100,D101,D102,D103,D104,D105,D106,D107,D203,D205,D400,D401,H238,W503
exclude =
    .env,
    env,
    .venv,
    venv,
    .git,
    node_modules,
